@keyframes spint {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
.box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: orchid;
  margin-top: 100px;
  margin-left: 100px;
  animation: spint 1s;
}
